force-app/main/default/flows/FHIR_Demo_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Care_Plan</name>
        <label>Get Care Plan</label>
        <locationX>1735</locationX>
        <locationY>518</locationY>
        <actionName>FHIRcareplanSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Care_Plan_Done</targetReference>
        </connector>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>varCarePlanRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_token_from_EPIC</name>
        <label>Get Token from EPIC</label>
        <locationX>603</locationX>
        <locationY>460</locationY>
        <actionName>FHIRdemoControllerFinal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowToastToken</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>GetAppointments</name>
        <label>GetAppointments</label>
        <locationX>1201</locationX>
        <locationY>714</locationY>
        <actionName>FHIRappointmentSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Appointments_Done</targetReference>
        </connector>
        <inputParameters>
            <name>appointmentProviderId</name>
            <value>
                <elementReference>varProviderRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetConditions</name>
        <label>Get Conditions</label>
        <locationX>1006</locationX>
        <locationY>726</locationY>
        <actionName>FHIRconditionSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Conditions_Done</targetReference>
        </connector>
        <inputParameters>
            <name>FHIRid</name>
            <value>
                <elementReference>STU3id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetEncounters</name>
        <label>GetEncounters</label>
        <locationX>1410</locationX>
        <locationY>661</locationY>
        <actionName>FHIRencounterSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EncountersDone</targetReference>
        </connector>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>921</locationX>
        <locationY>725</locationY>
        <actionName>FHIRsearchSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FoundMatch</targetReference>
        </connector>
        <inputParameters>
            <name>dob</name>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>FirstNameFromRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>LastNameFromRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PatientRecord</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FHIRid</assignToReference>
            <name>FHIRid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>patientMatch</assignToReference>
            <name>match</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>STU3id</assignToReference>
            <name>STU3id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast</name>
        <label>ShowPatientToast</label>
        <locationX>915</locationX>
        <locationY>1114</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled Patient Information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast_0</name>
        <label>ShowPatientToast</label>
        <locationX>570</locationX>
        <locationY>725</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient not found in Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastAppointments</name>
        <label>showToastAppointments</label>
        <locationX>1185</locationX>
        <locationY>1040</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled appointment data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastCarePlan</name>
        <label>showToastCarePlan</label>
        <locationX>1325</locationX>
        <locationY>1042</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled care plan data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Care Plan Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastConditions</name>
        <label>showToastConditions</label>
        <locationX>1078</locationX>
        <locationY>1093</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled EHR Conditions. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>EHR Conditions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastEncounters</name>
        <label>showToastEncounters</label>
        <locationX>1451</locationX>
        <locationY>935</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled encounter data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Encounter Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowToastToken</name>
        <label>ShowToastToken</label>
        <locationX>830</locationX>
        <locationY>276</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully negotiated access to Epic.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>API Access Granted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Appointments_Done</name>
        <label>Appointments Done</label>
        <locationX>1192</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>appointmentsCompete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created associated appointment records as needed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Care_Plan_Done</name>
        <label>Care Plan Done</label>
        <locationX>1330</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>CarePlanComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pulled in Care plan which includes problems and goals.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastCarePlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conditions_Done</name>
        <label>Conditions Done</label>
        <locationX>1061</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>conditionsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Added associated EHR Condition Records for patient. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastConditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EncountersDone</name>
        <label>EncountersDone</label>
        <locationX>1433</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>EncountersComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created ehr encounter records.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastEncounters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Hard Coding Camila Lopez ID.  This will need to be changed in trialforced orgs. 
I am setting three VARs for portability.</description>
        <name>loadHeroRecordId</name>
        <label>loadHeroRecordId</label>
        <locationX>103</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PatientRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingPatientRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPatientRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoWorkSummary</name>
        <label>NoWorkSummary</label>
        <locationX>50</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are working with the most up to date Epic data. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone</name>
        <label>PatientInfoDone</label>
        <locationX>824</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully pulled in patient Information. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPatientToast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone_0</name>
        <label>PatientInfoDone</label>
        <locationX>516</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We did not find a match in Epic. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPatientToast_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentYear</name>
        <choiceText>Current Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>last30</name>
        <choiceText>Last 30 days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30</stringValue>
        </value>
    </choices>
    <choices>
        <name>last3mo</name>
        <choiceText>Last 3 Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Months</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FoundMatch</name>
        <label>FoundMatch</label>
        <locationX>681</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>PatientInfoDone_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PatientInfoDone</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Forward</name>
        <label>Move Forward</label>
        <locationX>77</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>NoWorkSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Too Soon</defaultConnectorLabel>
        <rules>
            <name>Too_Soon</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NextSync</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NextSync</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>SummaryScreen</targetReference>
            </connector>
            <label>Move Forwrd</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectedTypesFromApex</name>
        <label>SelectedTYpes</label>
        <locationX>1080</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>updateEpicSyncField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientInfoComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPatient</targetReference>
            </connector>
            <label>Patient Info</label>
        </rules>
        <rules>
            <name>Medication_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>labsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Medication Request</label>
        </rules>
        <rules>
            <name>Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conditionsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConditions</targetReference>
            </connector>
            <label>Conditions</label>
        </rules>
        <rules>
            <name>Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CarePlanComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Plan_Record_Type_ID</targetReference>
            </connector>
            <label>Care Plan</label>
        </rules>
        <rules>
            <name>Social_History_Smoking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>smokingComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Smoking</label>
        </rules>
        <rules>
            <name>Social_History_Labs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>labsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Labs</label>
        </rules>
        <rules>
            <name>Encounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EncountersComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEncounters</targetReference>
            </connector>
            <label>Encounter</label>
        </rules>
        <rules>
            <name>Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentsCompete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Physician_Record_Type_ID</targetReference>
            </connector>
            <label>Appointments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Token</name>
        <label>Valid Token</label>
        <locationX>433</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Get_token_from_EPIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiresWhen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectedTypesFromApex</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Camila Lopez calls into the call center.  This flow auto launches after the screen pop and we then update her data from Epic.</description>
    <interviewLabel>FHIR - Demo 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FHIR - Demo 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Care_Plan_Record_Type_ID</name>
        <label>Get Care Plan Record Type ID</label>
        <locationX>1582</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CarePlan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCarePlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Physician_Record_Type_ID</name>
        <label>Get Physician Record Type ID</label>
        <locationX>1690</locationX>
        <locationY>872</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Physician</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPhysicianRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This is where you can change what provider gets assigned to the appointments in the demo</description>
        <name>Get_Provider_Record_ID</name>
        <label>Get Provider Record ID</label>
        <locationX>1881</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPhysicianRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varProviderRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Token</name>
        <label>Get Token</label>
        <locationX>440</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPICAccess</stringValue>
            </value>
        </filters>
        <object>EPIC_Access__c</object>
        <outputAssignments>
            <assignToReference>Access_Token</assignToReference>
            <field>Access_Token__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExpiresWhen</assignToReference>
            <field>ExpiresWhen__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPatientRecord</name>
        <label>GetPatient</label>
        <locationX>244</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Move_Forward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FirstNameFromRecord</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastNameFromRecord</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NextSync</assignToReference>
            <field>NextSync__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Birthdate</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Date/Time field Epic Sync on Account.  There is also a formula Field Epic Sync on the associated Contact so it shows up on the Get In Touch action,.</description>
        <name>updateEpicSyncField</name>
        <label>updateEpicSyncField</label>
        <locationX>1357</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Step2_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Epic_Sync__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Step2_0_0</name>
        <label>Step2</label>
        <locationX>1498</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>logo_s2_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>30</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewPatient_0_0</name>
            <fieldText>&lt;p&gt;{!Summary}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SummaryScreen</name>
        <label>Summary</label>
        <locationX>271</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SummaryScreen_0</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>30</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to run a quick update from Epic. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SummaryScreen_0</name>
        <label>Summary</label>
        <locationX>351</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Token</targetReference>
        </connector>
        <fields>
            <name>logo_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>30</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Pull_Data_PB_0</name>
            <extensionName>c:GilmoreLabs_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>Pulling Epic Data...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>loadHeroRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentsCompete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Birthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarePlanComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>conditionsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EncountersComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistingPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpiresWhen</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FHIRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>labsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastNameFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicalRequestComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextSync</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientInfoComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>patientMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smokingComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>STU3id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfCall</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCarePlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhysicianRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProviderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
