force-app/main/default/flows/Patient_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Care_Plan</name>
        <label>Get Care Plan</label>
        <locationX>1328</locationX>
        <locationY>715</locationY>
        <actionName>FHIRcareplanSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Care_Plan_Done</targetReference>
        </connector>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Conditions_2</name>
        <label>Get Conditions</label>
        <locationX>1020</locationX>
        <locationY>652</locationY>
        <actionName>FHIRconditionSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Conditions_Done</targetReference>
        </connector>
        <inputParameters>
            <name>FHIRid</name>
            <value>
                <elementReference>STU3id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_token_from_EPIC</name>
        <label>Get Token from EPIC</label>
        <locationX>644</locationX>
        <locationY>460</locationY>
        <actionName>FHIRdemoControllerFinal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowToastToken</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>GetAppointments</name>
        <label>GetAppointments</label>
        <locationX>1229</locationX>
        <locationY>718</locationY>
        <actionName>FHIRappointmentSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Appointments_Done</targetReference>
        </connector>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>PatientRecord</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetEncounters</name>
        <label>GetEncounters</label>
        <locationX>1451</locationX>
        <locationY>661</locationY>
        <actionName>FHIRencounterSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EncountersDone</targetReference>
        </connector>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>962</locationX>
        <locationY>725</locationY>
        <actionName>FHIRsearchSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FoundMatch</targetReference>
        </connector>
        <inputParameters>
            <name>dob</name>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PatientRecord</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FHIRid</assignToReference>
            <name>FHIRid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>patientMatch</assignToReference>
            <name>match</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>STU3id</assignToReference>
            <name>STU3id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_to_new_Record</name>
        <label>Go to new Record</label>
        <locationX>1709</locationX>
        <locationY>288</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast</name>
        <label>ShowPatientToast</label>
        <locationX>956</locationX>
        <locationY>1114</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled Patient Information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast_0</name>
        <label>ShowPatientToast</label>
        <locationX>770</locationX>
        <locationY>768</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>PatientInfoDone_0</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient not found in Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastAppointments</name>
        <label>showToastAppointments</label>
        <locationX>1226</locationX>
        <locationY>1040</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled appointment data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastCarePlan</name>
        <label>showToastCarePlan</label>
        <locationX>1366</locationX>
        <locationY>1042</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled care plant data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Care Plan Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastConditions</name>
        <label>showToastConditions</label>
        <locationX>1119</locationX>
        <locationY>1093</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled EHR Conditions. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>EHR Conditions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastEncounters</name>
        <label>showToastEncounters</label>
        <locationX>1492</locationX>
        <locationY>935</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled encounter data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Encounter Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowToastToken</name>
        <label>ShowToastToken</label>
        <locationX>871</locationX>
        <locationY>276</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully negotiated access to Epic.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>API Access Granted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SummaryToast</name>
        <label>SummaryToast</label>
        <locationX>1213</locationX>
        <locationY>265</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>updateEpicSyncField</targetReference>
        </connector>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Data pull from Epic Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Appointments_Done</name>
        <label>Appointments Done</label>
        <locationX>1233</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>appointmentsCompete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created associated appointment records as needed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Care_Plan_Done</name>
        <label>Care Plan Done</label>
        <locationX>1371</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>CarePlanComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pulled in Care plan which includes problems and goals.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastCarePlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conditions_Done</name>
        <label>Conditions Done</label>
        <locationX>1113</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>conditionsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Added associated EHR Condition Records for patient. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastConditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyPatientId</name>
        <label>CopyPatientId</label>
        <locationX>360</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>NewPatientRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingPatientRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EncountersDone</name>
        <label>EncountersDone</label>
        <locationX>1474</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>EncountersComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created ehr encounter records.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastEncounters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone</name>
        <label>PatientInfoDone</label>
        <locationX>889</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully pulled in patient Information. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPatientToast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone_0</name>
        <label>PatientInfoDone</label>
        <locationX>853</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We did not find a match in Epic. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset</name>
        <label>Reset</label>
        <locationX>305</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ExistingPatientRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundMatch</name>
        <label>FoundMatch</label>
        <locationX>762</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>ShowPatientToast_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PatientInfoDone</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>242</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>CopyPatientId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Patient</defaultConnectorLabel>
        <rules>
            <name>New_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient</targetReference>
            </connector>
            <label>New Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectedTypesFromApex</name>
        <label>SelectedTYpes</label>
        <locationX>1092</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>SummaryToast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientInfoComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPatient</targetReference>
            </connector>
            <label>Patient Info</label>
        </rules>
        <rules>
            <name>Medication_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>medicationReq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Medication Request</label>
        </rules>
        <rules>
            <name>Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conditionsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conditions_2</targetReference>
            </connector>
            <label>Conditions</label>
        </rules>
        <rules>
            <name>Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>carePlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CarePlanComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Plan</targetReference>
            </connector>
            <label>Care Plan</label>
        </rules>
        <rules>
            <name>Social_History_Smoking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>smoking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Smoking</label>
        </rules>
        <rules>
            <name>Social_History_Labs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>labs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Labs</label>
        </rules>
        <rules>
            <name>Encounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>encounter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EncountersComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEncounters</targetReference>
            </connector>
            <label>Encounter</label>
        </rules>
        <rules>
            <name>Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>appointments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appointmentsCompete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAppointments</targetReference>
            </connector>
            <label>Appointments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Token</name>
        <label>Valid Token</label>
        <locationX>474</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Get_token_from_EPIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiresWhen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectedTypesFromApex</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Patient Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>603</locationX>
        <locationY>1068</locationY>
        <assignRecordIdToReference>NewPatientRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Step2</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124W000001PJjBQAW</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Records</name>
        <label>Find Records</label>
        <locationX>307</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ExistingPatientRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Token</name>
        <label>Get Token</label>
        <locationX>481</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPICAccess</stringValue>
            </value>
        </filters>
        <object>EPIC_Access__c</object>
        <outputAssignments>
            <assignToReference>Access_Token</assignToReference>
            <field>Access_Token__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExpiresWhen</assignToReference>
            <field>ExpiresWhen__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateEpicSyncField</name>
        <label>updateEpicSyncField</label>
        <locationX>1450</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Go_to_new_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPatientRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Epic_Sync__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>InputSearchData</name>
        <label>InputSearchData</label>
        <locationX>305</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset</targetReference>
        </connector>
        <fields>
            <name>Logo_s1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Open FHIR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;Please ask the caller for the following. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Step2</name>
        <label>Step2</label>
        <locationX>605</locationX>
        <locationY>762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Token</targetReference>
        </connector>
        <fields>
            <name>logo_s2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewPatient</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It looks like &lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!First_Name} {!Last_Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;is a new patient.   We have created a Patient Record.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are several elements from Epic you can select to pull into Health Cloud.  Please select which data you would like to pull. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FHIRpicker</name>
            <extensionName>c:FHIRPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedTypes</name>
                <value>
                    <elementReference>selectedTypes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTypes</assignToReference>
                <name>selectedTypes</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Step2_0</name>
        <label>Step2</label>
        <locationX>473</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Token</targetReference>
        </connector>
        <fields>
            <name>logo_s2_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewPatient_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Found the patient Record. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are several elements from Epic you can select to pull into Health Cloud.  Please select which data you would like to pull. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FHIRpicker_0</name>
            <extensionName>c:FHIRPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedTypes</name>
                <value>
                    <elementReference>selectedTypes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTypes</assignToReference>
                <name>selectedTypes</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>InputSearchData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentsCompete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CarePlanComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>conditionsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EncountersComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistingPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpiresWhen</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FHIRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientInfoComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>patientMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STU3id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfCall</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
