force-app/main/default/flows/Patient_FHIR_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Care_Plan</name>
        <label>Get Care Plan</label>
        <locationX>1833</locationX>
        <locationY>494</locationY>
        <actionName>FHIRcareplanSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Care_Plan_Done</targetReference>
        </connector>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>varCarePlanRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Conditions_2</name>
        <label>Get Conditions 2</label>
        <locationX>911</locationX>
        <locationY>731</locationY>
        <actionName>FHIRconditionSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Conditions_Done</targetReference>
        </connector>
        <inputParameters>
            <name>FHIRid</name>
            <value>
                <elementReference>STU3id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Medical_Statement</name>
        <label>Get Medical Statement</label>
        <locationX>1459</locationX>
        <locationY>670</locationY>
        <actionName>FHIRmedstatementSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Medical_Statement_Done</targetReference>
        </connector>
        <inputParameters>
            <name>FHIRid</name>
            <value>
                <elementReference>STU3id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_token_from_EPIC</name>
        <label>Get Token from EPIC</label>
        <locationX>515</locationX>
        <locationY>460</locationY>
        <actionName>FHIRdemoControllerFinal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowToastToken</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>GetAppointments</name>
        <label>GetAppointments</label>
        <locationX>1100</locationX>
        <locationY>718</locationY>
        <actionName>FHIRappointmentSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Appointments_Done</targetReference>
        </connector>
        <inputParameters>
            <name>appointmentProviderId</name>
            <value>
                <elementReference>varProviderRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetEncounters</name>
        <label>GetEncounters</label>
        <locationX>1322</locationX>
        <locationY>661</locationY>
        <actionName>FHIRencounterSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EncountersDone</targetReference>
        </connector>
        <inputParameters>
            <name>patientFHIRId</name>
            <value>
                <elementReference>FHIRid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPatient</name>
        <label>getPatient</label>
        <locationX>833</locationX>
        <locationY>725</locationY>
        <actionName>FHIRsearchSTU3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FoundMatch</targetReference>
        </connector>
        <inputParameters>
            <name>dob</name>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>FirstNameFromRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>LastNameFromRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PatientRecord</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FHIRid</assignToReference>
            <name>FHIRid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>patientMatch</assignToReference>
            <name>match</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>STU3id</assignToReference>
            <name>STU3id</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_to_new_Record</name>
        <label>Go to new Record</label>
        <locationX>1580</locationX>
        <locationY>288</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast</name>
        <label>ShowPatientToast</label>
        <locationX>815</locationX>
        <locationY>1009</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled Patient Information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowPatientToast_0</name>
        <label>ShowPatientToast</label>
        <locationX>533</locationX>
        <locationY>993</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>PatientInfoDone_0</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Patient not found in Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Patient Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastAppointments</name>
        <label>showToastAppointments</label>
        <locationX>1097</locationX>
        <locationY>1040</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled appointment data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Appointment Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastCarePlan</name>
        <label>showToastCarePlan</label>
        <locationX>1779</locationX>
        <locationY>809</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled care plan data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Care Plan Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastConditions</name>
        <label>showToastConditions</label>
        <locationX>990</locationX>
        <locationY>1093</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled EHR Conditions. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>EHR Conditions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastEncounters</name>
        <label>showToastEncounters</label>
        <locationX>1363</locationX>
        <locationY>935</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled encounter data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Encounter Information </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToastEncounters_0</name>
        <label>showToastEncounters</label>
        <locationX>1568</locationX>
        <locationY>1013</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully pulled medical statement data from Epic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Medical Statement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowToastToken</name>
        <label>ShowToastToken</label>
        <locationX>742</locationX>
        <locationY>276</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully negotiated access to Epic.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>API Access Granted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SummaryToast</name>
        <label>SummaryToast</label>
        <locationX>1084</locationX>
        <locationY>265</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>updateEpicSyncField</targetReference>
        </connector>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Data pull from Epic Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Appointments_Done</name>
        <label>Appointments Done</label>
        <locationX>1104</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>appointmentsCompete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created associated appointment records as needed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Care_Plan_Done</name>
        <label>Care Plan Done</label>
        <locationX>1808</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CarePlanComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pulled in Care plan which includes problems and goals.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastCarePlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conditions_Done</name>
        <label>Conditions Done</label>
        <locationX>984</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>conditionsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Added associated EHR Condition Records for patient. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastConditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EncountersDone</name>
        <label>EncountersDone</label>
        <locationX>1345</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>EncountersComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully created ehr encounter records.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastEncounters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Medical_Statement_Done</name>
        <label>Medical Statement Done</label>
        <locationX>1527</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>medStatementComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully received Medical Statement inforrmation.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showToastEncounters_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone</name>
        <label>PatientInfoDone</label>
        <locationX>720</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully pulled in patient Information. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShowPatientToast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PatientInfoDone_0</name>
        <label>PatientInfoDone</label>
        <locationX>429</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>PatientInfoComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Summary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We did not find a match in Epic. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectedTypesFromApex</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundMatch</name>
        <label>FoundMatch</label>
        <locationX>535</locationX>
        <locationY>812</locationY>
        <defaultConnector>
            <targetReference>ShowPatientToast_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Mstch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PatientInfoDone</targetReference>
            </connector>
            <label>Mstch</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectedTypesFromApex</name>
        <label>SelectedTYpes</label>
        <locationX>973</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>SummaryToast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>patientInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientInfoComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPatient</targetReference>
            </connector>
            <label>Patient Info</label>
        </rules>
        <rules>
            <name>Medication_Statement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>medicationStatement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>medStatementComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medical_Statement</targetReference>
            </connector>
            <label>Medication Statement</label>
        </rules>
        <rules>
            <name>Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>conditions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conditionsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conditions_2</targetReference>
            </connector>
            <label>Conditions</label>
        </rules>
        <rules>
            <name>Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>carePlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CarePlanComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Plan_Record_Type_Id</targetReference>
            </connector>
            <label>Care Plan</label>
        </rules>
        <rules>
            <name>Social_History_Smoking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>smoking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Smoking</label>
        </rules>
        <rules>
            <name>Social_History_Labs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>labs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Social History - Labs</label>
        </rules>
        <rules>
            <name>Encounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>encounter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EncountersComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEncounters</targetReference>
            </connector>
            <label>Encounter</label>
        </rules>
        <rules>
            <name>Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>appointments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appointmentsCompete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>patientMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_Record_Id</targetReference>
            </connector>
            <label>Appointments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Token</name>
        <label>Valid Token</label>
        <locationX>345</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Get_token_from_EPIC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiresWhen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectedTypesFromApex</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Patient FHIR Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient FHIR Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Care_Plan_Record_Type_Id</name>
        <label>Get Care Plan Record Type Id</label>
        <locationX>1595</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CarePlan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCarePlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Id</name>
        <label>Get Provider Record Id</label>
        <locationX>1653</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue> JFK Medical Center</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varProviderRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Token</name>
        <label>Get Token</label>
        <locationX>352</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EPICAccess</stringValue>
            </value>
        </filters>
        <object>EPIC_Access__c</object>
        <outputAssignments>
            <assignToReference>Access_Token</assignToReference>
            <field>Access_Token__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExpiresWhen</assignToReference>
            <field>ExpiresWhen__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPatientRecord</name>
        <label>GetPatient</label>
        <locationX>148</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FirstNameFromRecord</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastNameFromRecord</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Birthdate</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateEpicSyncField</name>
        <label>updateEpicSyncField</label>
        <locationX>1341</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Go_to_new_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Epic_Sync__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Step2_0</name>
        <label>Step2</label>
        <locationX>162</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Token</targetReference>
        </connector>
        <fields>
            <name>logo_s2_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>FHIRlogo2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>30</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewPatient_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are several elements from Epic you can select to pull into Health Cloud.  Please select which data you would like to pull. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FHIRpicker_0</name>
            <extensionName>c:FHIRPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedTypes</name>
                <value>
                    <elementReference>selectedTypes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTypes</assignToReference>
                <name>selectedTypes</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>GetPatientRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Access_Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentsCompete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Birthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarePlanComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>conditionsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EncountersComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistingPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpiresWhen</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FHIRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medStatementComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewPatientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientInfoComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>patientMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STU3id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfCall</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCarePlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProviderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
